[alias]
	a = add
	b = branch
	c = commit
	cm = commit -m
	ca = commit --amend --no-edit
	cam = commit --amend -m
	co = checkout
	cob = checkout -b
	com = checkout main
	d = diff
	l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset) %C(bold green)%ar%C(reset)%C(auto)%d%C(reset)' --all
	ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	s = status
	undo = reset HEAD~1
[color]
	ui = auto
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
[diff]
{{- if .wsl }}
	tool = vscode
{{- else }}
	tool = vimdiff
{{- end }}
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[merge]
{{- if .wsl }}
	tool = vscode
{{- else }}
	tool = vimdiff
{{- end }}
[mergetool "vscode"]
	cmd = code --wait $MERGED
{{- if not .ephemeral }}
[push]
	default = current
[url "git@github.com:chezmoi/"]
	insteadOf = https://github.com/chezmoi/
{{- end }}
{{/* vim: set filetype=gitconfig: */}}
