[alias]
	a = add
	aliases = !sh -c 'git config --get-regexp '^alias\\.' | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort'
	amend = commit --amend
	# Add files to last commit
	append = commit --amend --no-edit
	b = branch
	# List remote-tracking and local branches
	branches = branch --all -v
	cm = commit -m
	co = checkout
	cob = checkout -b
	com = checkout main
	d = diff
	discard = "!f() { git restore ${1:-.}; }; f"
	dl = -c diff.external=difft log -p --ext-diff
	ds = -c diff.external=difft show --ext-diff
	dt = -c diff.external=difft diff
	l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset) %C(bold green)%ar%C(reset)%C(auto)%d%C(reset) %an'
	la = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset) %C(bold green)%ar%C(reset)%C(auto)%d%C(reset) %an' --all
	last = log -1 HEAD --stat
	s = status -sb
	sc = switch -c
	tags = tag -l --sort=-version:refname
	undo = reset HEAD~1
	unstage = reset HEAD --
[color]
	ui = auto
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
[diff]
{{- if .wsl }}
	tool = vscode
{{- else }}
	external = difft
{{- end }}
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[merge]
{{- if .wsl }}
	tool = vscode
{{- else }}
	tool = vimdiff
{{- end }}
[mergetool "vscode"]
	cmd = code --wait $MERGED
{{- if not .ephemeral }}
[pull]
	# Keep local commits on top of the tree
	rebase = true
[push]
	default = current
[url "git@github.com:chezmoi/"]
	insteadOf = https://github.com/chezmoi/
[url "git@github.com:martinpales/"]
	insteadOf = https://github.com/martinpales/
{{- end }}
{{/* vim: set filetype=gitconfig: */}}
