# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Tell the shell that it should not add anything to $path if it's there already
typeset -U PATH path

setopt auto_pushd
setopt pushd_ignore_dups
setopt pushd_silent
setopt extended_glob
setopt magic_equal_subst
setopt nomatch

setopt hist_find_no_dups
setopt hist_ignore_dups
setopt hist_ignore_all_dups
setopt hist_expire_dups_first
setopt hist_ignore_space
setopt hist_save_no_dups

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment one of the following lines to change the auto-update behavior
zstyle ':omz:update' mode disabled  # disable automatic updates
# zstyle ':omz:update' mode auto      # update automatically without asking
# zstyle ':omz:update' mode reminder  # just remind me to update when it's time

# Uncomment the following line to change how often to auto-update (in days).
# zstyle ':omz:update' frequency 13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup. 
plugins=()

export ZSH=$ZSH_CACHE_DIR/plugins/ohmyzsh
source $ZSH/oh-my-zsh.sh

ZSH_CUSTOM_COMPLETIONS=$ZSH_CACHE_DIR/completions
ZSH_CUSTOM_PLUGINS=$ZSH_CACHE_DIR/plugins
ZSH_CUSTOM_THEMES=$ZSH_CACHE_DIR/themes

command_exists () {
    (( $+commands[$1] ))
}

alias src='source'
if [ -d $ZSH_CUSTOM_PLUGINS/zsh-defer ]; then
    autoload -Uz $ZSH_CUSTOM_PLUGINS/zsh-defer/zsh-defer
    alias src='zsh-defer source'
fi

if [ -d $ZSH_CUSTOM_PLUGINS/ohmyzsh ]; then
    src "$ZSH_CUSTOM_PLUGINS/ohmyzsh/lib/termsupport.zsh"

    OMZ_PLUGINS="$ZSH_CUSTOM_PLUGINS/ohmyzsh/plugins"
    src "$OMZ_PLUGINS/colored-man-pages/colored-man-pages.plugin.zsh"
    src "$OMZ_PLUGINS/command-not-found/command-not-found.plugin.zsh"

    if command_exists docker; then
        fpath=( "$OMZ_PLUGINS/docker" $fpath )
    fi
    if command_exists go; then
        src "$OMZ_PLUGINS/golang/golang.plugin.zsh"
    fi
    if command_exists helm; then
        src "$OMZ_PLUGINS/helm/helm.plugin.zsh"
    fi
    if command_exists kubectl; then
        src "$OMZ_PLUGINS/kubectl/kubectl.plugin.zsh"
    fi
    if command_exists nats; then
        src "$OMZ_PLUGINS/nats/nats.plugin.zsh"
    fi
    if command_exists nvm; then
        src "$OMZ_PLUGINS/nvm/nvm.plugin.zsh"
    fi
fi

if [ -d $ZSH_CUSTOM_PLUGINS/zsh-autosuggestions ]; then
    src $ZSH_CUSTOM_PLUGINS/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh
fi

if [ -d $ZSH_CUSTOM_COMPLETIONS/zsh-completions ]; then
    fpath=( "$ZSH_CUSTOM_COMPLETIONS/zsh-completions/src" $fpath )
fi

if [ -f $XDG_CONFIG_HOME/functions ]; then
    src $XDG_CONFIG_HOME/functions
fi

if [ -f $XDG_CONFIG_HOME/aliases ]; then
    src $XDG_CONFIG_HOME/aliases
fi

if [ -f $XDG_CONFIG_HOME/settings ]; then
    src $XDG_CONFIG_HOME/settings
fi

unalias src

bindkey -s "^s" "tmux-sessionizer\n"

# Use emacs mode (Vim is nice but not in a shell)
bindkey -e

# Never start in the root file system
[[ "$PWD" != "/" ]] || cd

if [ -d $ZSH_CUSTOM_THEMES/powerlevel10k ]; then
    POWERLEVEL9K_DISABLE_CONFIGURATION_WIZARD=true
    source $ZSH_CUSTOM_THEMES/powerlevel10k/powerlevel10k.zsh-theme
    source $ZDOTDIR/.p10k.zsh
else
    echo "$ZSH_CUSTOM_THEMES/powerlevel10k directory is missing"
fi

# vim: ft=zsh sw=4 ts=4 et
